<!-- Source form -->
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<div class="field">
  <%= label_tag 'payer_email', Spree.t(:payer_email) %>
  <%= text_field_tag "#{param_prefix}[payer_email]", @order.email, class: 'required fullwidth' %>
</div>
